body,
.site,
.mask::after,
.mask::before {
  background-color: #ffffff;
}
.main-sidebar {
  width: 340px;
  padding-left: 80px;
}
.site-header {
  background-color: #ffffff;
}
.site-topbar {
  background-color: #0b224a;
  font-family: Rubik;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.site-header-sticky,
.site-header-sticky .widget.widget_search {
  background-color: rgba(255, 255, 255, 0.97);
}
.content-header {
  background-image: url('../images/coming_soon.jpg');
  background-size: cover;
  background-position: center; 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  padding-top: 300px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
}
body {
  font-family: Poppins;
  font-style: normal;
  color: #6c6c6c;
  font-size: 1rem;
  line-height: 1.625em;
}
h1 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  font-size: 3rem;
  line-height: 1.1em;
  letter-spacing: -1px;
}
h2 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  font-size: 2.25rem;
  line-height: 1.2em;
}
h3 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  font-size: 1.875rem;
  line-height: 1.2em;
}
h4 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  font-size: 1.25rem;
  line-height: 1.35em;
}
h5 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  font-size: 1.15rem;
  line-height: 1.35em;
}
h6 {
  font-family: Poppins;
  font-weight: 500;
  color: #141212;
  text-transform: none;
  font-size: 1rem;
  line-height: 1.35em;
}
blockquote {
  font-family: Poppins;
  font-style: normal;
  color: #b5001b;
  font-size: 1.125rem;
}
.site-header .navigator > .menu > li a {
  font-family: Rubik;
  font-style: normal;
  color: #627792;
  text-transform: none;
  font-size: 1rem;
}
.site-header-sticky .navigator > .menu > li a {
  font-family: Rubik;
  font-style: normal;
  color: #627792;
  text-transform: none;
  font-size: 1rem;
}
.content-header .page-title-inner {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 2.6rem;
}
.content-header .breadcrumbs,
.content-header .down-arrow a,
.page-title .subtitle {
  font-family: Rubik;
  font-style: normal;
  color: #ffffff;
  text-transform: none;
  font-size: 14px;
}
.widget > .widget-title {
  font-family: Rubik;
  font-weight: 500;
  color: #141212;
  text-transform: none;
  font-size: 1.125rem;
  line-height: 1.1em;
  letter-spacing: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
.widget {
  font-family: Rubik;
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
.sliding-menu {
  font-family: Rubik;
  font-weight: 500;
  text-transform: none;
  font-size: 1.25rem;
  line-height: 150%;
  background-color: #0e2b5c;
}
.content-bottom-widgets .widget {
  font-family: Rubik;
  font-style: normal;
  color: rgba(14, 43, 92, 0.8);
  text-transform: none;
  font-size: 1.125rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
.content-bottom-widgets .widget-title {
  font-family: Rubik;
  font-weight: 500;
}
.site-footer {
  border-top: 1px none rgba(14, 43, 92, 0.1);
  border-right: 0px none #000000;
  border-bottom: 0px none #000000;
  border-left: 0px none #000000;
  background-color: #ffffff;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.footer-copyright {
  font-size: 15px;
}
.footer-widgets .widget {
  text-transform: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
.footer-widgets .widget-title {
  font-family: Poppins;
  font-style: normal;
  text-transform: none;
}
a {
  color: #b5001b;
}
a:hover {
  color: #b5001b;
}
.site-topbar a {
  color: rgba(255, 255, 255, 0.7);
}
.site-topbar a:hover,
.site-topbar .menu-top li:hover a {
  color: #ffffff;
}
.site-topbar a:active,
.site-topbar .current-menu-item > a,
.site-topbar .current_page_item > a,
.site-topbar .current-menu-ancestor > a,
.site-topbar .current-menu-parent > a {
  color: #ffffff;
}
.site-header .off-canvas-toggle,
.site-header .navigator .menu > li a,
.site-header a {
  color: #141212;
}
.site-header .off-canvas-toggle:hover,
.site-header .navigator .menu > li:hover > a,
.site-header a:hover,
.site-header .navigator .menu > li.menu-item-expand > a {
  color: #627792;
}
.site-header .navigator .menu > li.current-menu-item > a,
.site-header .navigator .menu > li.current_page_item > a,
.site-header .navigator .menu > li.current-menu-ancestor > a,
.site-header .navigator .menu > li.current-menu-parent > a,
.site-header .navigator .menu.menu-extras > li > a,
.site-header .navigator .menu.menu-extras .search-field,
.site-header .off-canvas-toggle,
.site-header .off-canvas-toggle:hover {
  color: #b5001b;
}
.site-header-sticky .off-canvas-toggle,
.site-header-sticky .navigator .menu > li a,
.site-header-sticky a {
  color: #141212;
}
.site-header-sticky .off-canvas-toggle:hover,
.site-header-sticky .navigator .menu > li:hover > a,
.site-header-sticky a:hover {
  color: #627792;
}
.site-header-sticky .navigator .menu > li.current-menu-item > a,
.site-header-sticky .navigator .menu > li.current_page_item > a,
.site-header-sticky .navigator .menu > li.current-menu-ancestor > a,
.site-header-sticky .navigator .menu > li.current-menu-parent > a,
.site-header-sticky .navigator .menu.menu-extras > li > a,
.site-header-sticky .navigator .menu.menu-extras .search-field,
.site-header-sticky .off-canvas-toggle,
.site-header-sticky .off-canvas-toggle:hover {
  color: #b5001b;
}
.breadcrumbs a {
  color: #ffffff;
}
.breadcrumbs a:hover {
  color: #e0e0e0;
}
.main-sidebar a {
  color: #141212;
}
.main-sidebar a:hover {
  color: #de0021;
}
.sliding-menu a:hover {
  color: #de0021;
}
.sliding-menu a {
  color: #ffffff;
}
.site-footer a:hover {
  color: #b5001b;
}
.site-footer .footer-widgets a {
  color: #141212;
}
.site-footer .footer-widgets a:hover {
  color: #b5001b;
}
.site-footer .footer-copyright a {
  color: #141212;
}
.site-footer .footer-copyright a:hover {
  color: #b5001b;
}
.wrap {
  width: 1170px;
  max-width: 90%;
}
.content-body-inner {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.site-header .header-brand {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.site-header .off-canvas-toggle,
.site-header .navigator .menu > li > a,
.site-header .menu-extras > li > a {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}
.site-header-sticky .header-brand {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.site-header-sticky .off-canvas-toggle,
.site-header-sticky .navigator .menu,
.site-header-sticky .social-icons {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.site-header-sticky .off-canvas-toggle,
.site-header-sticky .navigator .menu > li > a,
.site-header-sticky .menu-extras > li > a {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}
.logo.logoDefault {
  width: 150px;
  height: auto;
}
.logo.logoDark {
  width: auto;
  height: auto;
}
.sliding-menu .off-canvas-wrap {
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
}
#main-content {
  width: calc(100% - 340px);
}
.sidebar-right .content-body-inner::before {
  right: 300px;
}
.sidebar-left .content-body-inner::before {
  left: 300px;
}
.button,
input[type="button"],
input[type="submit"],
button {
  background: #ffffff;
  height: 55px;
  font-family: Rubik;
  font-weight: 500;
  color: #b5001b;
  text-transform: none;
  font-size: 1rem;
  line-height: 55px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 40px;
  border: 1px solid rgba(14, 43, 92, 0.1);
  border-radius: 5px;
}
input,
textarea,
select {
  background: #ffffff;
  font-family: Rubik;
  font-style: normal;
  color: #032a5f;
  font-size: 1rem;
  line-height: 55px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border: 1px solid rgba(3, 42, 95, 0.1);
  border-radius: 5px;
}
input,
select {
  height: 55px;
}
.content-bottom-widgets {
  background-color: #ffffff;
  background-image: url(https://www.makehomecanada.com/wp-content/uploads/2020/12/Footer_image_1.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 20%;
  padding-left: 0px;
}
.footer-widgets {
  background-color: #ffffff;
  padding-top: 80px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.site-footer .footer-copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 0px none #000000;
  border-bottom: 0px none #000000;
  border-left: 0px none #000000;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.content-inner[data-grid] .post,
.content-inner[data-grid-normal] .post {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.content-inner[data-grid],
.content-inner[data-grid-normal] {
  margin-left: -15px;
  margin-right: -15px;
}
body:not(.is-loaded):after,
body:not(.is-loaded):before {
  content: none !important;
}
.site-header-classic .navigator .menu-primary li .sub-menu li:hover > a,
.site-header-sticky .navigator .menu-primary li .sub-menu li:hover > a,
.post-meta .post-author-content a,
.projects-filter ul li.active a,
.contact .row label,
#site .iconlist.iconlist-icon-large li .iconlist-item-content::before,
table thead th,
#site .pricing-table .price-column .price span,
#site .pricing-table .price-column .features li span,
.comment-author .fn,
.comment-author .fn a,
.blog-large .blog-readmore:hover {
  color: #141212;
}

.site-topbar .topbar-menu .menu-top li .sub-menu,
.search-results .post a:hover .post-index::after,
input[type="submit"].primary,
button[type="submit"].primary,
.button.primary,
.button.accent::after,
#site .flexslider .flex-direction-nav li a:hover,
#site .vc-hoverbox-wrapper .vc-hoverbox-back button:hover,
#site .vc-hoverbox-wrapper .vc-hoverbox-back .vc_btn3:hover,
.menu-extras
  li.shopping-cart
  .widget_shopping_cart_content
  .buttons
  .button.checkout,
.projects-grid-alt .project .project-inner,
#site
  .vc_tta-tabs.vc_tta-style-flat
  .vc_tta-tabs-container
  ul.vc_tta-tabs-list
  li.vc_active
  a,
.member,
.widget.fixed-menu[class*="q2w3-widget-clone-sidebar"] + .fixed-menu::after,
.wrap_svl_center .pins_animation,
#site .blog-shortcode.post-thumbnail-cover .blog-entries .post .post-image,
#site .pricing-table .price-column .button,
#site .pricing-table .price-column.highlight .button::after,
#site
  .vc_tta-tabs.vc_tta-style-modern
  .vc_tta-tabs-container
  ul.vc_tta-tabs-list
  li.vc_active
  a,
#site
  .vc_tta-tabs.vc_tta-style-classic
  .vc_tta-panels-container
  .vc_tta-panels
  .vc_tta-panel.vc_active
  .vc_tta-panel-heading,
#site
  .vc_tta-tabs.vc_tta-style-modern
  .vc_tta-panels-container
  .vc_tta-panels
  .vc_tta-panel.vc_active
  .vc_tta-panel-heading,
#site
  .vc_tta-tabs.vc_tta-style-flat
  .vc_tta-panels-container
  .vc_tta-panels
  .vc_tta-panel.vc_active
  .vc_tta-panel-heading,
#site
  .vc_tta-tabs.vc_tta-style-outline
  .vc_tta-panels-container
  .vc_tta-panels
  .vc_tta-panel.vc_active
  .vc_tta-panel-heading,
.widget.widget_shopping_cart .buttons .button.checkout,
.comments-area .comment-respond .comment-form .form-submit input,
#site .vc_row.shape2:after,
#site .vc_section.shape2:after,
.blog-grid .post .post-header .post-title:after,
.main-sidebar .widget .widget-title:before,
.navigation.post-navigation .nav-links li h6 a:hover:before,
.navigation.pager-numeric .page-numbers.current,
.navigation.pager-numeric .page-numbers:hover,
.page-links a span:not(.page-links-title):hover,
.page-links > span:not(.page-links-title),
.header-position-left
  .site-header.site-header-classic
  .navigator
  .menu-primary
  li
  .sub-menu:before,
.woocommerce-pagination li .page-numbers.current,
.woocommerce-pagination li .page-numbers:hover,
.woocommerce .product .woocommerce-tabs .tabs li a::after,
.woocommerce-message,
#site .imagebox.style2 .box-image,
.header-position-left
  .site-header.site-header-classic
  .navigator
  .menu-primary
  > li.menu-item-has-children.menu-item-expand
  .menu-item-toggle {
  background-color: #141212;
}

input[type="submit"].primary,
button[type="submit"].primary,
.button.primary,
.button.accent:hover,
.mc4wp-form-fields .sign-up input[type="email"]:focus {
  border-color: #141212;
}

.post-inner:hover .post-title::after,
#site .counter .counter-image i,
#site .iconbox .box-icon i,
.post-meta .post-author-content a:hover,
#site .iconlist.iconlist-icon-small li .iconlist-item-icon::after,
#site .iconlist li i,
.navigation.post-navigation .nav-links li::before,
.go-to-top a::before,
.button-video a[rel="wp-video-lightbox"]::after,
a.video-lightbox:after,
#site
  .vc_tta-tabs.vc_tta-style-classic
  .vc_tta-tabs-container
  ul.vc_tta-tabs-list
  li:hover
  a,
#site
  .vc_tta-tabs.vc_tta-style-classic
  .vc_tta-tabs-container
  ul.vc_tta-tabs-list
  li.vc_active
  a,
.blog-large .blog-readmore,
.blog-large .blog-readmore:hover::before,
.woocommerce .star-rating span:before,
.navigator .menu-primary > li > a > sup,
.woocommerce .products li:hover .woocommerce-loop-product__title,
.woocommerce .products li .wc-forward:before,
#site .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked:after,
#site .wpcf7-acceptance .wpcf7-list-item input[type="checkbox"]:checked:after,
#site .imagebox.style2 .box-image .box-header .box-subtitle {
  color: #b5001b;
}

.button::after,
input[type="submit"]:hover,
button[type="submit"]:hover,
.button.accent,
.search-results .post .post-index::after,
.projects-filter ul li a::after,
#site .imagebox .box-content::after,
.social-icons a:hover i,
#site .iconlist.iconlist-icon-xlarge > li .iconlist-item-content ol li::after,
#site .iconlist.iconlist-icon-xlarge > li .iconlist-item-content ul li::after,
.navigation.post-navigation .nav-links li::after,
#site .vc-hoverbox-wrapper .vc-hoverbox-back button,
#site .vc-hoverbox-wrapper .vc-hoverbox-back .vc_btn3,
#site .flexslider .flex-direction-nav li a,
.go-to-top a::after,
a[rel="wp-video-lightbox"]::before,
#site
  .vc_tta-accordion
  .vc_tta-panels-container
  .vc_tta-panels
  .vc_tta-panel.vc_active,
.sliding-menu .off-canvas-toggle,
.projects-grid .project .project-inner .project-thumbnail a::before,
.widget.fixed-menu ul.menu li a::before,
.widget.fixed-menu ul.menu li.current-menu-item a::before,
.widget.fixed-menu ul.menu li.current-page-item a::before,
#site .owl-pagination .owl-page.active,
#site
  .vc_tta-tabs.vc_tta-style-classic
  .vc_tta-tabs-container
  ul.vc_tta-tabs-list
  li
  a::after,
#site .pricing-table .price-column.highlight .popular,
#site .pricing-table .price-column.highlight .button,
.menu-extras li.shopping-cart > a .shopping-cart-items-count,
.comments-area .comment-respond .comment-form .form-submit input:hover,
.blog-large .post-left .post-comments a,
.single-post .post-inner .post-header:after,
.single-attachment .post-inner .post-header:after,
.single-post .post-inner .post-meta-data .post-comments a,
.single-attachment .post-inner .post-meta-data .post-comments a,
.blog-large .post.sticky .post-inner:before,
#site .vc_row.shape2:before,
#site .vc_section.shape2:before,
.main-sidebar .widget:hover .widget-title:before,
body:not(.is-loaded):after,
.woocommerce .onsale,
.site-header-classic
  .navigator
  .menu-primary
  li.style1
  > .sub-menu
  > li
  > a:after,
.site-header-sticky
  .navigator
  .menu-primary
  li.style1
  > .sub-menu
  > li
  > a:after,
#site .wpcf7-radio .wpcf7-list-item input[type="radio"]:after,
#site .wpcf7-radio.style1 .wpcf7-list-item input[type="radio"]:checked,
#site
  .wpcf7-checkbox.style1
  .wpcf7-list-item
  input[type="checkbox"]:checked:before,
#site .wpcf7-radio.style2 .wpcf7-list-item input[type="radio"]:checked:before,
#site
  .blog-shortcode.post-thumbnail-cover.style2
  .blog-entries
  .blog-grid
  .post
  .post-inner:before {
  background-color: #b5001b;
}

.button:hover,
input[type="submit"]:hover,
button[type="submit"]:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input.input-text:focus,
select:focus,
#site .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked,
#site .wpcf7-checkbox .wpcf7-list-item label:hover input[type="checkbox"],
#site .wpcf7-acceptance .wpcf7-list-item label:hover input[type="checkbox"],
#site .wpcf7-acceptance .wpcf7-list-item input[type="checkbox"]:checked,
#site .wpcf7-checkbox.style1 .wpcf7-list-item input[type="checkbox"]:checked,
#site
  .wpcf7-checkbox.style1
  .wpcf7-list-item
  label:hover
  input[type="checkbox"]:checked,
#site .wpcf7-radio.style2 .wpcf7-list-item input[type="radio"]:checked,
#site
  .wpcf7-radio.style2
  .wpcf7-list-item
  label:hover
  input[type="radio"]:checked,
.site-header-classic .navigator .menu-primary > li:before {
  border-color: #b5001b;
}

::selection {
  background: #b5001b;
}
::-moz-selection {
  background: #b5001b;
}

#site .vc_row.gradient::before,
#site .vc_section.gradient::before {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, #141212 90%);
}
#site .vc_row.gradient2::before,
#site .vc_section.gradient2::before,
#site .vc_row.gradient4::before,
#site .vc_section.gradient4::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #141212 90%);
}
#site .vc_row.gradient3::before,
#site .vc_section.gradient3::before {
  background: linear-gradient(
    to right,
    #141212,
    rgba(255, 255, 255, 0),
    #141212
  );
}

#site .wpb_single_image .vc_single_image-wrapper.vc_box_shadow_3d::after {
  background-image: -webkit-linear-gradient(left, #141212, #b5001b);
  background-image: -o-linear-gradient(right, #141212, #b5001b);
  background-image: -moz-linear-gradient(right, #141212, #b5001b);
  background-image: linear-gradient(to right, #141212, #b5001b);
}
